<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.deltaCode.omnicron.app" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Physics.Kinematics.KinematicsHome"
            android:label="@string/title_activity_kinematics_home" >
        </activity>
        <activity
            android:name=".Physics.Kinematics.TypeOneProjectile"
            android:label="@string/title_activity_type_one_projectile" >
        </activity>
        <activity
            android:name=".Physics.Kinematics.TypeTwoProjectile"
            android:label="@string/title_activity_type_two_projectile" >
        </activity>
        <activity
            android:name=".Physics.Kinematics.TypeThreeProjectile"
            android:label="@string/title_activity_type_three_projectile" >
        </activity>
        <activity
            android:name=".Physics.Kinematics.Motion"
            android:label="@string/title_activity_motion" >
        </activity>
        <activity
            android:name=".Physics.PhysicsHome"
            android:label="@string/title_activity_physics_home" >
        </activity>
        <activity
            android:name=".Chemistry.ChemistryHome"
            android:label="@string/title_activity_chemistry_home" >
        </activity>
        <activity
            android:name=".Chemistry.GasLaws"
            android:label="@string/title_activity_gas_laws" >
        </activity>
        <activity
            android:name=".Physics.Dynamics.DynamicsHome"
            android:label="@string/title_activity_dynamics_home" >
        </activity>
        <activity
            android:name=".Physics.Dynamics.NetForces"
            android:label="@string/title_activity_net_forces" >
        </activity>
        <activity
            android:name=".Chemistry.PeriodicTable"
            android:label="@string/title_activity_periodic_table" >
        </activity>
        <activity
            android:name=".Chemistry.UnitConverter"
            android:label="@string/title_activity_unit_converter" >
        </activity>
    </application>

</manifest>
